<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alive or UnDead ☠️</title>
</head>
<body style="background: url('{{ url_for('static', filename='bg.jpg') }}') no-repeat center center fixed; background-size: cover; height: 100vh; margin: 0;">
    <h1>You are fool</h1>
    <h3>There is No way back accept your faith! ☠️</h3>
    <img src="{{ url_for('static', filename='japan.jpg') }}" width="80%" alt="japan">
</body>
</html>
